



네트워크
-> 통신

DataBase <-----------> Server <--------------------> Client(app, web,...)

Local DataBase  의 한계
- 동기화가 어렵다
- 상호작용이 불가능 하다

서버와 통신하는 방법
- 해당 url로 요청한다
- 인증정보를 보낸다
- JSON 형식을 사용해서 data를 보낸다
- JavaScriopt Object Notation -> \

JSON 형식
 - [] -> list
 - {} -> 객체
 -> "" 문자열
 -> 숫자


 Json Parsing
 -> Json을 코틀린이나 자바가 이해할수 있게 변형 하는 과정

 Serializable(직렬화)
->
class 에  넣어줌


Request Type
- GET -> 정보 요청
- POST -> 정보 추가 요청
- DELETE -> 정보 삭제 요청
- PUT -> 정보 수정 요청



Library
- volley
- Retrofit